.small-text {
  font-size: 10px;
}

#issue {
  height: 200px;
  border-radius: 10px;
  resize: none;
}

#issue::-webkit-input-placeholder {
  font-weight: lighter;
}

#issue::-moz-placeholder {
  font-weight: lighter;
}

#issue::-ms-input-placeholder {
  font-weight: lighter;
}

#add_params_btn {
  height: 40px;
  width: 40px;
  padding: 2px 0 0 0;
  border-color: #C5C5C5;
}

#name, #email {
  width: 250px;
  border-top: none;
  border-bottom: 1px solid #C5C5C5;
  border-left: none;
  border-right: none;
}

.form-check-input:checked {
  background-color: #C5C5C5;
  border-color: #C5C5C5;
}

#send {
  width: 200px;
  color: white;
  background-color: #FF9700;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed #FF9700;
}
